.language-selector
    select(
        chosen,
        width='"auto"',
        ng-model='HeaderService.currentLanguage'
        ng-change='HeaderService.changeCurrentLanguage()',
        ng-options='lang.code as lang.name for lang in HeaderService.supportedLanguages'
        disable_search_threshold=12
    )